<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/61090523/Downloads/Java project/untitled/src/test/java/APITest/Day8">
        <classes>
            <class name="APITest.Day8.CreateUser">
            <methods><include name="createUserTest"/></methods>
            </class>
            <class name="APITest.Day8.getUser">
                <methods><include name="getUserTest"/></methods>
            </class>
            <class name="APITest.Day8.updateUser">
                <methods><include name="updateUserTest"/></methods>
            </class>
            <class name="APITest.Day8.deleteUser">
                <methods><include name="deleteUserTest"/></methods>
            </class>
        </classes>
    </test>
</suite>